/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* Ocultar todo excepto el ticket */
  body * {
    visibility: hidden;
  }

  .print-only {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }

  .print-only * {
    visibility: visible;
  }

  /* Ajustes de página */
  @page {
    margin: 0;
    size: 80mm auto;
  }
}

/* Ocultar el contenedor de impresión en pantalla */
.print-only {
  display: none;
}

.logo-container {
  text-align: center;
  padding: 20px;
}

.company-logo {
  max-width: 200px;
  height: auto;
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

.highlight-input input {
  animation: pulse-border 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
