/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 20px;
    width: 300px;
  }
  .no-print {
    display: none !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.logo-container {
  text-align: center;
  padding: 20px;
}

.company-logo {
  max-width: 200px;
  height: auto;
}
